<head>
  <title>Welcome to Forums</title>

  <meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=0.9">

<style>

#connection-lost-banner {
    position: initial;
}

body {
    background-color: white;
    padding-bottom: 70px;
	padding-top: 70px;
    margin-left: 170px;
    padding-right: 170px;

}
.jumbotron {
    padding: 0.9em 0.9em;
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 0.8em;
        .btn {
            padding: 0.2em;
        }
    }
}
.pull-right {
  float: right;
}
    
.pull-right-top {
    position: absolute;
    top: 15%;
    right: 2%;
}

.half-view {
    width: 50% !important;
}
</style>

</head>

<body id="main_body" >
	<div class="container-fluid">
	{{> mainNavLayout}}
	
        <div class="row">
            <img alt="something" class="img-responsive" style="max-width: 150%;" src="/pic.png" />
        </div>

        <div class="row">
            <div class="col-md-12" style="background-color:lightsky;">
                {{> mainLayout}}
            </div>
        </div>

    </div>
<!-- 	<div class="jumbotron">
	  <h2 class="text-center">Forum maker<p> By: Lital M, Michael T, Gal B, Gal S & Elad M</p></h2>
	</div> -->

</body>

<template name="mainLayout">
    {{checkCurrentUserPasswordIsValid}}
    {{#if currentConnectionIsAuthorized}}
        {{> Template.dynamic template=content}}
    {{else}}
        {{redirectToConnectionAuthAndRequestTheServerToShowCodeOnAuthorizedClients}}
        {{> Template.dynamic template=content}}
    {{/if}}
</template>

<template name="mainNavLayout">
{{#if isInitialized}}
    {{> topnavbar}}
{{/if}}
</template>