/* CSS declarations go here */
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-comment input {
  box-sizing: border-box;
  padding: 10px 0;
  background: #E6E6FA;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-comment input:focus{
  outline: 0;
}
