<template name="adminforumreportcell">	
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> Forum Name: {{forumName}} </h3>
        </div>
        <div class="panel-body"> Number of Subforums: {{numOfSubforums}} </div>
      </div>
</template>