<template name="createforummodalform">    
    <div id="createforummodalform" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	    
		    <!-- Modal content-->
		    <div class="modal-content">
			    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    <h4 class="modal-title">Create forum</h4>
				</div>
				<div class="modal-body">
				{{> createforumform}}
			    </div>
			    <div class="modal-footer">
				    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
		    </div>
	    
	    </div>
    </div>
</template>

<template name="createforumform">    
	<form role="form" class="newforum" method="POST">
		<div class="form-group">
			<label for="forumName">Forum name: </label>
			<input type="text" class="form-control" id="forumName" name="forumName" value="">

			<label for="forumDesc">Forum description: </label>
			<textarea rows="3" class="form-control" id="forumDesc" name="forumDesc"></textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-default offset8">Create</button>
		</div>
	</form>
</template>