<template name="createsubforummodalform">    
    <div id="createsubforummodalform" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	    
		    <!-- Modal content-->
		    <div class="modal-content">
			    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    <h4 class="modal-title">Create subforum</h4>
				</div>
				<div class="modal-body">
				{{> createsubforumform}}
			    </div>
			    <div class="modal-footer">
				    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
		    </div>
	    
	    </div>
    </div>
</template>

<template name="createsubforumform">    
	<form role="form" class="newsubforum" method="POST">
		<div class="form-group">
			<label for="subforumName">Subforum name: </label>
			<input type="text" class="form-control" id="subforumName" name="subforumName" value="">

			<label for="subforumDesc">Subforum description: </label>
			<textarea rows="3" class="form-control" id="subforumDesc" name="subforumDesc"></textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-default offset8">Create</button>
		</div>
	</form>
</template>