<template name="forums">
	<br><br>
	<b>Forums</b>
	<form class="new-forum">
		<input type="text" name="text" placeholder="Type to add new forum" />
	</form>
	<br>

	<form class="delete-forum">
		<input type="text" name="text" placeholder="Type to delete forum" />
	</form>
	<br>

	<form class="edit-forum">
		<input type="text" name="oldName" placeholder="Forum To Edit" />
		<input type="text" name="newName" placeholder="New name" />
		<input type="submit" value ="Edit" />
	</form>
	<br>

	{{> forumCell}}
	<ul>
		{{#each forums}}
		{{> forumCell}}
		{{/each}}
	</ul>
</template>