<template name="forumCell">	

	<div class="panel panel-default" style="background-color:lavender">
		<!-- HEADER EDIT MODE-->

		{{#if isInEditMode}}
			<div class="panel-heading">
				<span>
					<input type="text" class="form-control forumName" id="usr" placeholder="Forum name" value="{{forumName}}">					
				</span>
				
			</div>
		<!-- HEADER NOT EDIT MODE-->
		{{else}}
			<div class="panel-heading">
				{{#if allowNavigationToSubforum}}
				<a href = "forum/{{_id}}">
					<span>{{forumName}}</span>
				</a>
				{{else}}
					<span>{{forumName}}</span>
				{{/if}}
				<span class="pull-right">
					{{#if userIsAdminOfForum}} 
						<button type="button" class="btn btn-warning btn-xs editForum">Edit forum</button> &nbsp;&nbsp;
						<button type="button" class="btn btn-danger btn-xs deleteForum">Delete forum</button>
					{{else}}
						{{#if showJoinButton}}
							<button type="button" class="btn btn-info btn-xs joinForum">Join forum</button>
						{{/if}}
						{{#if showLeaveButton}}
							<button type="button" class="btn btn-info btn-xs leaveForum">Leave forum</button>
						{{/if}}
					{{/if}}
				</span>
			</div>
		{{/if}}


		<!-- DESCRIPTION NOT EDIT MODE-->
		{{#if isInEditMode}}
			<div class="panel-body">
				<textarea rows="3" class="form-control forumDesc" id="forumDesc" name="forumDesc" value="{{forumDescription}}" placeholder="Forum description"></textarea>
			</div>
			<div class="panel-body">
				<span class="pull-right">
					<button type="button" class="btn btn-default btn-md cancelForumEdit">Cancel</button>
					<button type="button" class="btn btn-primary btn-md submitEditForum">Submit</button>
				</span>
			</div>
		{{else}}
			<div class="panel-body">
				{{forumDescription}}
			</div>
		{{/if}}
	</div>
</template>