<template name="forumreportsmodal">    
    <div id = forumreportsmodal class="modal fade" role="dialog">
	    <div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
				    <h4 class="modal-title">Forum Report</h4>
				</div>
				<div class="modal-body">
				{{> forumreportsform}}
			    </div>
		    </div>
	    
	    </div>
    </div>
</template>

<template name="forumreportsform">    
	<form role="form">
        {{#each subForumsInForum}}
            {{> subforumreport}}
        {{/each}}
	</form>
</template>