<template name="messageCell">
			<div class="panel panel-default" style="background-color:lavender">
					<div class="panel-heading" background-color:lavender>
						{{#if unread}}
							<span>&#9733;</span>
						{{/if}}
							<span>&nbsp;</span>
						<b>From: </b> {{get_username}}<b> Date: </b> {{createdAt}}
					</div>
					<div class="panel-body">{{messageBody}}</div>
			</div>
</template>