<template name="subforums">
	<br><br>
	<b>Sub Forums</b>
    <form class="new-subforum">
		<input type="text" name="subforumName" placeholder="subforum name" />
		<input type="text" name="forumName" placeholder="in forum" />
		<input type="text" name="managerId" placeholder="manager id" />
		<input type="submit" value ="Create" />
	</form>
	<br>

	<form class="delete-subforum">
		<input type="text" name="subforumName" placeholder="subform to delete" />
	</form>

	<br>

	<form class="edit-subforum">
		<input type="text" name="oldName" placeholder="SubForum To Edit" />
		<input type="text" name="newName" placeholder="New name" />
		<input type="submit" value ="Edit" />
	</form>
	<br>

	{{> subforumCell}}
	<ul>
		{{#each subforums}}
		{{> subforumCell}}
		{{/each}}
	</ul>
</template>