<template name="subforummoderatorscell">	
	<div class="panel panel-default" style="background-color:lavender">
		<div class="panel-heading">
			<span>{{moderatorUsername}}</span>
      {{#if showEditinButtons}}
			<span class="pull-right">
				{{#if isNotInExperationDateEditMode}}
					<button type="button" class="btn btn-warning btn-xs editModeratorExpirationDate">Set experation date</button>
				{{/if}}
				<button type="button" class="btn btn-danger btn-xs removeModerator">Remove moderator</button>
			</span>
      {{/if}}
		</div>
		
		{{#if isNotInExperationDateEditMode}}
			{{#if experationDate}}
				<div class="panel-body">
					Experation Date: {{createdAtString}}
				</div>
			{{/if}}
		{{else}}
			<div class="panel-body">
				<div class="form-group">
		            <div class="form-group">
		                <div class='input-group date' id='datetimepicker2'>
		                    <input type='text' id="datePickerText" class="form-control datePickerText" placeholder="Experation date for new moderator" />
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>

			        <script type="text/javascript">
			            $(function () {
			                $('#datetimepicker2').datetimepicker({
							    "format": "DD/MM/YYYY",
							});
			            });
			        </script>
				</div>
			</div>

			<div class="form-group">
				<button type="cancel" class="btn btn-default cancelModeratorExperationDateEdit">Cancel</button>
				<button type="submit" class="btn btn-default submitModeratorExperationDateEdit">Submit</button>
			</div>
		{{/if}}
	</div>
</template>