<template name="subforumreport">    
    <div class="form-group">
			<a><span class="glyphicon glyphicon-cog"></span><label>&nbsp;&nbsp; Subforum:&nbsp;</label></a>{{subForumName}} <br>
			<a><span class="glyphicon glyphicon-flag"></span><label>&nbsp;&nbsp; Num of Posts:&nbsp;</label></a>{{numOfPostsForSubforum}}   <br><br>
    </div>
</template>