
<template name="subforumCell">	
	<div class="panel panel-default" style="background-color:lavender">

		<!-- HEADER EDIT MODE-->
		{{#if isInEditMode}}
			<div class="panel-heading">
				<span>
					<input type="text" class="form-control subforumName" id="usr" placeholder="Subforum name" value="{{subForumName}}">					
				</span>
				
			</div>
		<!-- HEADER NOT EDIT MODE-->
		{{else}}
			<div class="panel-heading">
				<a href = "{{forumId}}/subforum/{{_id}}">
					<span class="glyphicon glyphicon-tree-conifer">&nbsp;</span>
					<span>{{subForumName}}</span>
				</a>
				<span class="pull-right">
					{{#if userIsAdminOfForum}} 
						<button type="button" class="btn btn-warning btn-xs editSubforum">Edit subforum</button> &nbsp;&nbsp;
						<button type="button" class="btn btn-danger btn-xs deleteSubforum">Delete subforum</button>
					
                    {{else}}
                        {{#if userIsManagerInSubforum}}
                            <button type="button" class="btn btn-warning btn-xs editSubforum">Edit subforum</button> &nbsp;&nbsp;
                        {{/if}}
                    {{/if}}
				</span>
			</div>
		{{/if}}


		<!-- DESCRIPTION NOT EDIT MODE-->
		{{#if isInEditMode}}
			<div class="panel-body">
				<textarea rows="3" class="form-control subforumDesc" id="subforumDesc" name="subforumDesc" value="{{subForumDescription}}" placeholder="Subforum description"></textarea>
			</div>
			<div class="panel-body">
				<span class="pull-right">
					<button type="button" class="btn btn-default btn-md cancelForumEdit">Cancel</button>
					<button type="button" class="btn btn-primary btn-md submitEditForum">Submit</button>
				</span>
			</div>
		{{else}}
			<div class="panel-body">
				{{subForumDescription}}
			</div>
		{{/if}}
	</div>
</template>