<template name="threadCell">	

	<div class="panel panel-default" style="background-color:lavender">
		<!-- HEADER EDIT MODE-->
		<div class="panel-heading">
				<span class="glyphicon glyphicon-tag"></span><span style="font-size: 24px"><a href="{{threadURL}}">&nbsp;&nbsp;{{subject}}&nbsp;&nbsp;</a></span>				<span>{{createdAt}}</span>

      {{#if canDeleteThread}}
			<span class="pull-right">
        {{#if canEditThread}}
				  <a href="{{threadEditURL}}" type="button" class="btn btn-warning btn-xs editForum">Edit thread</a> &nbsp;&nbsp;
        {{/if}}
				<a href="" type="button" class="btn btn-danger btn-xs deleteThread">Delete thread</a> &nbsp;&nbsp;
			</span>
			{{/if}}

		</div>


		<!-- DESCRIPTION -->
		<div class="panel-body">
			{{threadShortDescription}}
		</div>
	</div>
</template>