<template name="topnavbar">
  {{> connectionBanner}}

  {{#if shouldShowConnectionCode}}
    <div class="alert alert-info">
      <button type="button" class="close closeCodeAlert" data-dismiss="alert">&times;</button>
      <h4>Connection from another client</h4>
      Connection code is: {{shouldShowConnectionCode}}
    </div>
  {{/if}}

  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>

      <div class="navbar-collapse collapse" id="myNavbar">

        <ul class="nav navbar-nav">
          {{#if currentUser}}
            <li id="notification_center">
              <a><span class="glyphicon glyphicon-user"></span> {{currentUserUsername}}</a>
            </li>
            <li id="logout">
              <a href="/" class="logout"> <span class="glyphicon glyphicon-off"></span> Logout</a>
            </li>
          {{else}}
            <li>
              <a href="{{loginURL}}"><span class="glyphicon glyphicon-user"></span> Login</a>
            </li>
            <li>
              <a href="{{signupURL}}"><span class="glyphicon glyphicon-user"></span> Signup</a>
            </li>
          {{/if}}

        </ul>

        {{#if currentUser}}
          <ul class="nav navbar-nav" style="margin-left: 10%;">
            <li id="notification_center">
              <a href="/"><span class="glyphicon glyphicon-book"></span> All Forums</a>
            </li>
            <li id="messages">
              <a href="/messages"><span class="glyphicon glyphicon-envelope"></span> Messages</a>
            </li>
            {{#if shouldShowAdminPanel}}
              <li id="admin_panel">
                <a href="/admin"> <span class="glyphicon glyphicon-flash"></span> Admin Panel</a>
              </li>
            {{/if}}
            {{#if shouldShowSecurityPolicyButton}}
              <li id="security_policy">
                <a href="/security_policy"> <span class="glyphicon glyphicon-lock"></span> Security Policy</a>
              </li>
            {{/if}}

            <li id="notificationCenter">
              {{> notificationCenterView}}
            </li>

          </ul>
        {{/if}}

        <ul class="nav navbar-nav navbar-right" id="nav">
          {{#if shouldShowCreateNewForum}}
            <li id="createNewForum">
              <a href="#" data-toggle="modal" data-target="#createforummodalform">
                <span class="glyphicon glyphicon-plus"></span> Create forum
              </a>
            </li>
          {{/if}}

          {{#if shouldShowComposeThread}}
            <li id="composeThread">
              <a href="{{composeThreadURL}}">
                <span class="glyphicon glyphicon-plus"></span> Compose Thread
              </a>
            </li>
          {{/if}}

          {{#if shouldShowCreateNewSubForum}}
            <li id="createNewSubForum">
              <a href="#" data-toggle="modal" data-target="#createsubforummodalform">
                <span class="glyphicon glyphicon-plus"></span> Create subforum
              </a>
            </li>
          {{/if}}
        </ul>

      </div>
    </div>
  </nav>

  {{> createforummodalform}}
  {{> createsubforummodalform}}

</template>
