<template name="adminpage">
	<h1><a><span class="glyphicon glyphicon-eye-open"></span></a> &nbsp;&nbsp;Admin Panel </h1><hr style="border: 2px dotted #2c1294;"><br>
        {{#each forumList}}
			{{> adminforumreportcell}}
		{{/each}}
</template>