<template name="authorizeConnectionView">
	{{#if shouldShowSpinner}}
		{{> spinner}}
	{{/if}}

    {{#if currentConnectionIsAuthorized}}
    	{{redirectToMainPageAfterBeingAuthorized}}
    {{/if}}
	<h4 class="page-header">You are logged in from another client</h4>
	<div>Please enter the code showing in that client to continue on this client</div>

	<form id="signup" class="signup">
		<div class="form-group">
			<label for="connectionCode">Connection code: </label>
			<input type="text" name="connectionCode" class="form-control" placeholder="Connection code">
		</div>

		<span class="form-group">
			<input type="submit" class="btn btn-success" value="Connect">
			<button class="btn btn-success requestCodeFromClien">Request code</button>
		</span>
	</form>
</template>
