<template name="forumPersonalSettings">
  <h1>
    <a><span class="glyphicon glyphicon-lock"></span></a>
    Forum personal settings
  </h1>
  <hr style="border: 2px dotted #2c1294;">
  <br>

  <form id="forumPersonalSettingsForm">
    <div class="form-group">
      <label for="forumNotificationSettings">Forum notification settings: </label>
      <select class="form-control" id="forumNotificationSettings">
        <option id="onlineNotifications" {{onlineIsSelected}}>Online notifications - will notify online users only</option>
        <option id="offlineNotifications" {{offlineIsSelected}}>Offline notifications - will notify online and offline users</option>
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success" value="Submit">
    </div>
  </form>
</template>

