<template name="forumlist">
	<h1><a><span class="glyphicon glyphicon-heart"></span></a> &nbsp;&nbsp;My Subscribed Forums </h1><hr style="border: 2px dotted #2c1294;"><br>
	{{#transition wrap="true" in="fadeInLeft" out="fadeOutLeft"}}
		{{#each myForumList}}
			{{> forumCell}}
		{{/each}}	
	{{/transition}}

	<br><h1><a><span class="glyphicon glyphicon-road"></span></a>&nbsp;&nbsp; Explore Public Forums </h1><hr style="border: 2px dotted #2c1294;"><br>

	{{#transition wrap="true" in="fadeInLeft" out="fadeOutLeft"}}
		{{#each publicForumListUserIsNotIn}}
			{{> forumCell}}
		{{/each}}	
	{{/transition}}

</template>
