<template name="forumpage">
    <h1><a><span class="glyphicon glyphicon-folder-open"></span></a> &nbsp;&nbsp;{{forumName}} </h1>
    <h3 style = "font-style: italic" >{{forumDescription}}</h3>
    <hr style="border: 2px dotted #2c1294;">

  <!--Forum reports and notification settings are for admin-->
  <h4>
    {{#if userIsAdminOfForum}}
        <a href="#" data-toggle="modal" data-target="#forumreportsmodal">
          <span class="glyphicon glyphicon-stats"></span> Forum Reports
        </a>

        <a href="{{forumSettingsURL}}">
          <span style="left: auto; margin-left: 40px;">
            <span class="glyphicon glyphicon-align-center"></span> Forum Settings
          </span>
        </a>
    {{/if}}

    {{#if shouldShowForumPersonalSettings}}
      <span style="color: transparent">&nbps</span> <!--Fixes issue with alignment-->
      <a href="{{forumPersonalSettingsURL}}">
        <div style="float: right">
          <span class="glyphicon glyphicon-align-justify"></span> Settings
        </div>
      </a>
    {{/if}}
  </h4>

	{{> subforumlist}}
    
    <br>
    {{> forumreportsmodal}}
        
</template>
