<template name="forumAdminPage">
  <h1>
    <a><span class="glyphicon glyphicon-lock"></span></a>
    Forum admin panel
  </h1>
  <hr style="border: 2px dotted #2c1294;">
  <br>

  <form id="forumAdminForm">
    <div class="form-group">
      <label for="forumNotificationSettings">Forum notification settings: </label>
      <select class="form-control" id="forumNotificationSettings">
        <option id="onlineNotifications" {{onlineIsSelected}}>Online notifications - will notify online users only</option>
        <option id="offlineNotifications" {{offlineIsSelected}}>Offline notifications - will notify online and offline users</option>
        <option id="selectiveNotifications" {{selectiveIsSelected}}>Selective notifications - allows the users choose which setting they prefer</option>
      </select>
    </div>

    <div class="form-group">
      <label for="forumAllowUserBeModeratorInMultipleSubforums">Allow user moderate multiple subforums: </label>
      <select class="form-control" id="forumAllowUserBeModeratorInMultipleSubforums">
        <option id="allow" {{allowModerateMultipleSelected}}>Allow</option>
        <option id="notallow" {{notAllowModerateMultipleSelected}}>Don't allow - you won't be able to set a user as a moderator in multiple subforums</option>
      </select>
    </div>

    <div class="form-group">
      <label for="forumAllowModeratorDeleteThreads">Allow subforum moderators to delete threads: </label>
      <select class="form-control" id="forumAllowModeratorDeleteThreads">
        <option id="allow" {{allowModeratorDeleteThreadSelected}}>Allow</option>
        <option id="notallow" {{notAllowModeratorDeleteThreadSelected}}>Don't allow</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-success" value="Submit">
    </div>
  </form>
</template>


