<template name="messagePage">
	<h1> 			<a><span class="glyphicon glyphicon-send"></span></a>
&nbsp;&nbsp; Send Message </h1><hr style="border: 2px dotted #2c1294;">
	<br>
	<form role="form" class="newMessage" method="POST">
		<div class="form-group">
			<label for="destination">To: </label><br>
			{{#if didSelectAutoCompletionUser}}
			<input type="text" class="form-control recepientUserName" id="username_to" name="username_to" value="{{SelectedAutoCompletionUsername}}">
			{{else}}
			<input type="text" style= "background-color:lavender" class="form-control recepientUserName" id="username_to" name="username_to" placeholder="Username">
			{{/if}}
		</div>

		{{#if shouldShowCompletion}}
			<div class="form-group">
			{{#each autoCompletionUsers}}
				{{> messagePageAutoCompletion}}
			{{/each}}
			</div>
		{{/if}}

		<div class="form-group">
			<label for="text">Message: </label><br>
			<textarea rows="4" style= "background-color:lavender" class="form-control" id="message_text" name="message_text" placeholder="What would you like to say?"></textarea><br>
		</div>
		<div class="form-group">
			<button type="submit" style= "background-color:lavender" class="btn btn-default offset8"> Send</button>
		</div>
	</form>

	<br>
	<h1> 			<a><span class="glyphicon glyphicon-download-alt"></span></a>
&nbsp;&nbsp; My Messages </h1><hr style="border: 2px dotted #2c1294;">

	{{#each get_messages}}
		{{> messageCell}}
	{{/each}}

</template>

<template name="messagePageAutoCompletion">
	<button type="button" class="btn btn-info btn-xs leaveForum">{{userNameForUse}}</button>
</template>
