<template name="securitypage">
	<h1>
		<a><span class="glyphicon glyphicon-lock"></span></a>
		Security Policy 
	</h1>
	<hr style="border: 2px dotted #2c1294;">
	<br>

	{{#with policy}}
	<form id="forgot" class="forgot">
		<div class="form-group">
	  			<label for="period">Password expiration period: </label>
	  			<input type="number" name="period" min="1" step="1" class="period" value="{{passExpirationPeriod}}" id="period">
		</div>
		<div class="form-group">        
			<label for="allowSec">Other security options: </label>
			<div class="checkbox">
			  <label><input type="checkbox" checked="{{allowSecurityQuestion}}" name="allowSec" id="allowSec" class="allowSec">Allow security questions</label>
			</div>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="Submit">
		</div>
	</form>
	{{/with}}
</template>	

