<template name="loginView">
	{{#if isCreatingUser}}
		{{> spinner}}
	{{/if}}
	<h4 class="page-header">Login</h4>
	<form id="login" class="login">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="Login">
			<span class="pull-right"><a href="{{forgotURL}}">Forgot password</a></span>
		</div>
	</form>
</template>

<template name="signupView">
	{{#if isCreatingUser}}
		{{> spinner}}
	{{/if}}
	<h4 class="page-header">Signup</h4>
	<form id="signup" class="signup">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control" placeholder="Email" >
		</div>
		{{#if shouldProvideSecurityQuestions}}
			<h4>Security Questions (required)</h4>
			<div class="form-group">
				<label for="question1">Question 1</label>
				<input type="text" name="question1" class="form-control" placeholder="Question 1" >
				<label for="answer1">Answer 1</label>
				<input type="text" name="answer1" class="form-control" placeholder="Answer 1" >
			</div>
			<div class="form-group">
				<label for="question2">Question 1</label>
				<input type="text" name="question2" class="form-control" placeholder="Question 2" >
				<label for="answer2">Answer 1</label>
				<input type="text" name="answer2" class="form-control" placeholder="Answer 2" >
			</div>
		{{/if}}
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="Signup">
		</div>
	</form>
</template>

<template name="forgotView">
	{{#if isSendingResetEmail}}
		{{> spinner}}
	{{/if}}
	<h4 class="page-header">Forgot password</h4>
	<form id="forgot" class="forgot">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control emailTextField" placeholder="Email" >
		</div>
		{{#if shouldProvideSecurityQuestions}}
			{{#if didNotEnterValidEmail}}
				<div class="form-group">
					<button class="btn btn-success validateEmail">Confirm email</button>
				</div>
			{{else}}
				<h4>Security Questions (required)</h4>
				<div class="form-group">
					<label for="answer1">{{q1}}</label>
					<input type="text" name="answer1" id="answer1" class="form-control answer1TextField" placeholder="Answer" >
					<label for="answer2">{{q2}}</label>
					<input type="text" name="answer2" id="answer2" class="form-control answer2TextField" placeholder="Answer" >
				</div>
				<div class="form-group">
					<button class="btn btn-success restoreWithQuestions">Restore</button>
				</div>
			{{/if}}
		{{else}}
			<div class="form-group">
					<button class="btn btn-success restoreWithoutQuestions">Restore</button>
			</div>
		{{/if}}
	</form>
</template>