<template name="stresstest">
  <center>
    <button type="button" class="btn {{buttonClass}} btn-xl">{{buttonText}}</button>
    <br><br><br>
    {{finishedMessage}}
    <br>
    {{finishedMessageSecondLine}}
  </center>
</template>