<template name="subforummoderatorswrap">
	{{#if userIsAdminInForum}}
		{{#each subforumModeratorsArray}}
			{{> subforummoderators}}
		{{/each}}
	{{else}}
		You are not the admin of this forum. Error
	{{/if}}
</template>

<template name="subforummoderators">
	<!-- ADD MODERATOR CONTROL -->
	<div>
		<h1>Add moderator</h1>
	</div>
	<div>
		<form role="form" class="addModerator" method="POST">
			<div class="form-group">
				{{#if didSelectAutoCompletionUser}}
					<input type="text" class="form-control newModeratorUserName" id="newModeratorUserName" name="newModeratorUserName" value="{{SelectedAutoCompletionUsername}}" autocomplete="false">
				{{else}}
					<input type="text" style= "background-color:lavender" class="form-control newModeratorUserName" id="newModeratorUserName" name="newModeratorUserName" placeholder="Moderator username" autocomplete="false">
				{{/if}}
			</div>

			<!-- AUTO COMPLETE  -->
			{{#if shouldShowCompletion}}
				<div class="form-group">
				Choose:
				{{#each autoCompletionUsers}}
					{{> subforummoderatorsAutoCompletion}}
				{{/each}}
				</div>
			{{/if}}

				<!-- DATE CHOOSER -->
			<div class="form-group">
				<label class="showDateChooser">
			        <input type="checkbox" />
			        Choose experation date
			    </label>
			    {{#if shouldShowDateChooser}}
		            <div class="form-group">
		                <div class='input-group date' id='datetimepicker1'>
		                    <input type='text' id="datePicker" class="form-control" placeholder="Experation date for new moderator" />
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>

		        <script type="text/javascript">
		            $(function () {
		                $('#datetimepicker1').datetimepicker({
						    "format": "DD/MM/YYYY",
						});
		            });
		        </script>
			    {{/if}}
			</div>

			<!-- SUBMIT BUTTON -->
			<div class="form-group">
				<button type="submit" style= "background-color:lavender" class="btn btn-default offset8">Add</button>
			</div>
		</form>
	</div>

	<!-- MODERATORS LIST -->
	<div>
		<h1> Moderators for {{subForumName}}</h1>
	</div>
	<div>
		{{#each subForumManagersId}}
			{{> subforummoderatorscell}}
		{{/each}}
	</div>
</template>

<template name="subforummoderatorsAutoCompletion">
	<button type="button" class="btn btn-info btn-xs leaveForum">{{userNameForUse}}</button>
</template>
