<template name="subforumpage">
	
	{{#if isAdminInForum}}
		<h1><a><span class="glyphicon glyphicon-folder-open"></span></a> &nbsp;&nbsp;Threads 

			<a href="{{moderatorsURL}}" type="button" class="btn btn-warning btn-md editForum pull-right">Edit moderators</a>
		</h1>
	{{else}}
		<h1><a><span class="glyphicon glyphicon-folder-open"></span></a> &nbsp;&nbsp;Threads </h1>

	{{/if}}

	 <hr style="border: 2px dotted #2c1294;"><br>
    {{#each threadsForSubForum}}
    	{{> threadCell}}
    {{/each}}
</template>
