<template name="systemUninitialized">
	{{#if shouldShowSpinner}}
		{{> spinner}}
	{{/if}}
	<div>
		<h1>
			<a><span class="glyphicon glyphicon-heart"></span></a>System Uninitialized
		</h1>
		<hr style="border: 2px dotted #2c1294;">

		<h3 class="page-header">Create super-admin</h3>
		<form id="signup" class="signup">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" name="username" class="form-control" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" name="email" class="form-control" placeholder="Email" >
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" class="form-control" placeholder="Password" >
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-success" value="Signup">
			</div>
		</form>
	</div>
</template>
