<template name="threadeditpagewrap">
	{{#each threads}}
		{{> threadeditpage}}
	{{/each}}
</template>

<template name="threadeditpage">
    <h1><center> Edit thread </center></h1>
    <form role="form" class="newforum" method="POST">
		<div class="form-group">
			<label for="threadSubject">Subject: </label>
			<input type="text" class="form-control" id="threadSubject" name="threadSubject" value="{{subject}}">
		</div>

		<div class="form-group">
			<textarea rows="3" class="form-control" id="threadText" name="threadText" value="{{text}}"></textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-default offset8 pull-right">Post</button>
		</div>
	</form>
</template>
