<template name="threadpagewrap">
	{{#each threads}}
		{{> threadpage}}
	{{/each}}
</template>

<template name="threadpage">
	<div class="col-sm-9">
	      <div class="row">
		      <div class="col-sm-2 text-center">
	          <img src={{profileImg}} class="img-circle" height="65" width="65" alt="undefined">
        	  </div>
	      <hr>
	      <h2>{{subject}}</h2> 
	      <h5><span class="glyphicon glyphicon-time"></span> Post by {{userName}}, {{createdAtString}}</h5>
	      <h5><span class="label label-danger">
	      {{subForumName}}</span></h5>
	      <p><h4>{{text}}</h4></p>
	      <br>
	      	        	 <hr style="border: 2px dotted #2c1294;"><br>
		<form class="new-comment">
	        <input type="text" name="text" placeholder=" Write a comment..." />

	    </form><br><br>
		</div>
	    <p><h3><a>Comments:</a></h3></p><br>
	    {{#each commentList}}
			{{> commentcell}}
		{{/each}}

    </div>
</template>

<template name = "commentcell">
	 <div class="row">
        <div class="col-sm-2 text-center">
          <img src={{profileImg}} class="img-circle" height="65" width="65" alt="undefined">
        </div>
        <div class="col-sm-10">
          <h4>{{userName}} <small>{{createdAtString}}</small></h4>
          <p>{{text}}</p>
          <br>
        </div>
     </div>
</template>
