<template name="updatePasswordView">
	{{#if shouldShowSpinner}}
		{{> spinner}}
	{{/if}}
	<h4 class="page-header">Your password is outdated</h4>
	<div>You must update your password</div>

	<form id="update" class="update">
		<div class="form-group">
			<label for="oldPassword">Old password</label>
			<input type="password" name="oldPassword" class="form-control" placeholder="Old password">
		</div>
		<div class="form-group">
			<label for="newPassword">New password</label>
			<input type="password" name="newPassword" class="form-control" placeholder="New password">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="Submit">
			<span class="pull-right"><a href="{{forgotURL}}">Forgot password</a></span>
		</div>
	</form>
</template>